*
  margin: 0
  padding: 0

$porcelain: #F3F4F5

header
  background-color: $porcelain
  
footer
  min-height: 90px 
  display: flex !important
  align-items: center
  justify-content: center
  background-color: $porcelain

.global-app-container
  height: 100vh
  .app-container
    height: calc(100vh - 109px)


// single classes
.centered-text
  text-align: center
.no-wrap
  white-space: nowrap
    